
table {
    margin-top: 60px;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    color: cyan;   
}

.botao {
    width: 20%;
	padding: 15px 0;
    background: cyan;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius:15% 25% 20% 27%;
    transition: 1s all;
    cursor: pointer;
	margin: 50px 50px 50px 520px;
}

.botao:hover{
	background: #f07cd3;
	transform: scale(1.2);   
}

body{
    width: auto;
  background-image: url("img/fundo.jpeg")
  
    }
    
footer {
   
    margin-top: 80px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
}

.copyright {
    color: #FFFFFF;
    margin: 20px 0 ;
    margin-left: 500px;
    width: auto;
}
